<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Scishare -
        {% block title_block %}

        {% endblock %}
    </title>
</head>
<body>
<div>
    {% block body_block %}
        This is body_block's default content.
    {% endblock %}
</div>
<div>
    <! -- make visible only if user is authenticated -->
    {% block sidebar_block %}
        <li><a href="{% url 'scishare:categories' %}">Categories</a></li>
        <li><a href="{% url 'scishare:most_liked' %}">Most Liked</a></li>
        <li><a href="{% url 'scishare:groups' %}">Your Groups</a></li>
    <! -- else -->
        <li><a href="{% url 'scishare:register' %}">Sign Up</a></li>
        <li><a href="{% url 'scishare:login' %}">Login</a></li>
    {% endblock %}

</div>
</body>
</html>